 @media screen {
	 body {
		padding-top: 60px;
		padding-bottom: 40px;
		background: #e0f0f0;
	}

     #loading-bar-spinner {
         z-index: 2000;
         top: 10px;
         left: 75%;
         /*top: 10px;
         left: 10px;*/
     }

     .ng-hide {
         /*Override AngularJs ng-hide. Wird gebraucht, um den TuneEditor (textarea) verschwinden zu lassen,
         falls der NoteEditor gewählt wurde. Bei der Verwendung vom normalen AngularJs ng-hide funktionieren die
         Select-Events nicht mehr, die vom ABCEditor an die textarea geschickt werden.
         */

         display:block!important;
         position:absolute;
         top:-9999px;
         left:-9999px;

     }

     .tuneSetBox {
		list-style-type: none;
        float: left;
        margin: 0 10px 40px 0; /*Abstand zwischen den TuneSets*/
		background: #eee; 
		padding: 5px;
		width: 380px; 
		border-radius: 6px;	
	}

	.tuneSetPosition {
		list-style: none;
		border: 1px solid #CCC;
		background: #99EDEA;
		color: #1C94C4;
		margin: 5px;
        /*height: 100%;*/	/*wird gebraucht, damit der Edit-Bereich (textarea) das li-Element vergr�ssert und nicht andere li-Elemente �berdeckt */
		/*height: 22px;*/
		min-height: 80px;		/*braucht es bei 0.9 sampledots scale */
		width: 350px;
        padding: 5px 5px 0px;
        border-radius: 6px;
		box-shadow: 0 1px 3px rgba(0,0,0,.25)	
	}

	.input-file {
	   display: none;
	}

     input[type="file"] {
         display: none;
     }

	.control-label {
	   width: 1px;
	}

	.input-xlarge{
			width: 380px;
	}

	#TuneBookEditor input::-webkit-input-placeholder {
		font-style: italic;
	}

	#TuneBookEditor input:-moz-placeholder {
		font-style: italic;
		color: #a9a9a9;
	}

	iframe.fbLikeBox {
		display: block;
	}


	.tuneTitle a{
		color: black;
	}


	.tuneFirstLine {
		display: block;
		border: none;
        /*
		border-bottom: 1px solid #999;
		*/
	}

	.tuneType {
		margin: 5px; 
		padding: 5px; 
		/*font-size: 10%;*/ /*Font-Size kann nicht eingestellt werden. Warum?*/
		min-width: 50px;
		max-width: 50px;
		display: inline-block;
		color: black;
	}

	.tuneKey {
		margin: 5px; 
		padding: 5px; 
		/*font-size: 1.2em;*/
		min-width: 5px;
		max-width: 5px;
		display: inline-block;
		color: black;
	}

	.tuneSetPositionRepeat {
		float: right;
		margin: 5px; 
		padding: 5px; 
		/*font-size: 1.2em;*/
		min-width: 80px;
		max-width: 80px;
		display: inline-block;
		color: black;
	}

     .tuneSetPositionAnnotation {
         margin: 5px;
         padding: 5px;
         display: block;
         color: black;
         border-top: 1px solid #999;
     }

	.justPlayedTheTune {
		/*no margin, padding -> button sticks to border-line of first line*/
		min-width: 45px;
		max-width: 45px;
		display: inline-block;
		color: black;
		float: left;
	}

     .justPlayedTheTuneSet {
        display: inline-block;
         color: black;
         float: left;
     }

	.tunePlayDateInfo {
		margin-left: 5px;
		display: inline-block;
		/*border: 1px solid #999;*/
	}	

	.tuneLastPlayed {
		margin-left: 5px; /*Abstand zum Button 'justPlayedTheTune'*/
		/*font-size: 1.2em;*/
		min-width: 120px;
		max-width: 120px;
		display: inline-block;
		color: black;
		
	}

	.tuneColorizer {
        min-width: 100px;
		max-width: 100px;
		display: inline-block;
	}

     .transposeButtons {

          min-width: 140px;
          max-width: 140px;

          display: inline-block;
      }

	.tuneSetBox {
		background: #c0e0f0; 
	}

	.tuneSetPosition {
		background: #e0f0f0;
	}

	div.colorPicker-picker {
	  display: inline-block;
	}

	.tuneSetInfo {
		/*width: 380px; 
		float: left;*/
		margin: 0;
		padding: 0;
		display: block;
		border: none;
	}

	.sampleDotsViewer {
		display: block;
		/*overflow: true;*/
		position: absolute;
		/*margin: 10px;*/
		/*padding: 10px;*/
		margin-top: -115px; /*Auf H�he des Tunes setzen*/
		left: 420px; 
		/*padding: 16px 16px 16px 60px;*/
		/*border: none;*/
		/*background: rgba(0, 0, 0, 0.02);*/
		/*z-index: 2;*/
		/*box-shadow: none;*/
		
		/*
		border: 1px solid #CCC;
		background: #eee; 
		background: #99EDEA;
		
		padding-bottom: 0px;
		border-radius: 6px;
		box-shadow: 0 1px 3px rgba(0,0,0,.25)
		*/
	}

     .nav-tabs {
         color: black;
         background: #99EDEA;
     }

     .btn-xs {
		color: black;
		background: transparent;
	}

     .btn-default {
         color: black;
         background: transparent;
     }

	.tuneSetNr {
		font-size: 0.8em;
        margin: 0 5px;
        min-width: 360px;
		max-width: 360px;
		display: inline-block;
	}

     .played {
         font-size: 0.8em;
         margin: 0 5px;
         min-width: 200px;
         max-width: 200px;
         display: inline-block;
     }
	
	.tuneSetInfoLine {
		margin: 0;
		padding: 0;
		display: block;
		border: none;
	}
	
	.tuneSetName {
		font-size: 0.8em;
        margin: 0 0 0 5px;
        min-width: 120px;
		max-width: 120px;
		display: inline-block;
		color: black;
	}
	
	.tuneSetEnv {
		font-size: 0.8em;
        margin: 0 0 0 5px;
        min-width: 100px;
		max-width: 100px;
		display: inline-block;
		color: black;
	}
	
	.tuneSetTarget {
		font-size: 0.8em;
        margin: 0 0 0 5px;
        min-width: 100px;
		max-width: 100px;
		display: inline-block;
		color: black;
	}

	.well > p  {
		font-size: 1.1em;
	}

	/*TuneBook Name*/
	.lead  {
		text-align: center;
		font-size: 1em;
	}

	.currentPage {
		display: inline-block;
        margin: 0 5px;
    }

	h3 {
		color:black;
	}

    /*
	.btn-group ul.dropdown-menu li:HOVER ul.dropdown-menu {
	  display:block; 
	  position:absolute; 
	  left:100%;
	  -webkit-border-radius: 3px;
	  -moz-border-radius: 3px;
	  border-radius: 3px;
	}

	.btn-group ul.dropdown-menu li ul.dropdown-menu {
	  display: none;
	  float:right;
	  position: relative;
	  top: auto;
	  margin-top: -30px;
	}

	.nav li.dropdown ul.dropdown-menu .dropdown-menu::before {
		content: '';
		display: inline-block;
        border-top: 7px solid transparent;
        border-right: 7px solid rgba(0, 0, 0, 0.2);
        border-bottom: 7px solid transparent;
        position: absolute;
		top: 9px;
		left: -14px;
	}

	.nav li.dropdown ul.dropdown-menu .dropdown-menu::after {
		content: '';
		display: inline-block;
		border-top: 6px solid transparent;
		border-bottom: 6px solid transparent; 
		border-right:6px solid white;
		position: absolute;
		top: 10px;
		left: -12px;
	}
	*/



     .animate-enter {
         -webkit-transition: 1s linear all; /* Chrome */
         transition: 1s linear all;
         opacity: 0;
     }

     .animate-enter.animate-enter-active {
         opacity: 1;
     }

     .tuneListGrid {
         border: 1px solid rgb(212,212,212);
         /*width: 400px;
         height: 300px;*/
         /*width: 100%;*/
         height: 650px;
         position: fixed;
     }

     .setListGrid {
         border: 1px solid rgb(212,212,212);
         /*width: 400px;
         height: 300px;*/
         /*width: 100%;*/
         height: 650px;
         position: fixed;
     }

     .bookTitle {
         position: fixed;
     }

     .tuneControlButtons {
         display: inline-block;
         margin: 0;
         padding: 5px;
         min-width: 820px;
         /*min-width: 520px;
         min-width: 520px;*/
         /*
         border-bottom: 1px solid #999;
         */
         /*padding: 16px 16px 16px 60px;*/
         /*border: none;*/
         /*background: rgba(0, 0, 0, 0.02);*/
         /*z-index: 2;*/
         /*box-shadow: none;*/


     }


     .tuneSetBtn {
         background: #c0e0f0;
         border-radius: 6px;
         box-shadow: 0 1px 3px rgba(0,0,0,.25)
     }

     .dotsViewerBtn {
         background: #99EDEA;
         border-radius: 6px;
         box-shadow: 0 1px 3px rgba(0,0,0,.25)
     }



     .dotsViewer {
         display: block;
         margin: 0;
         padding: 0;
         min-width: 820px;
         max-width: 820px;
         border: 1px solid #CCC;
         background: #99EDEA;
         border-radius: 6px;
         box-shadow: 0 1px 3px rgba(0,0,0,.25)
     }

     .renderTheDots {
         display: block;
         padding: 20px;
         min-width: 820px;
         /*border-top: 1px solid lightgray;*/
         margin:5px;
     }

     .tuneVideoEditor {
         display: block;
         width: 100%;
         /*min-width: 320px;
         max-width: 380px; */
         margin: 0;
         padding: 10px;
         border: 1px solid #CCC;
         background: #99EDEA;
         border-radius: 6px;
         box-shadow: 0 1px 3px rgba(0,0,0,.25);
         min-width: 820px;
         max-width: 820px;
     }

     .tuneSetEditor {
         display: block;
         width: 100%;
         /*min-width: 320px;
         max-width: 380px;*/
         margin: 0;
         padding: 10px;
         border: 1px solid #CCC;
         background: #99EDEA;
         border-radius: 6px;
         box-shadow: 0 1px 3px rgba(0,0,0,.25);
         min-width: 820px;
         max-width: 820px;
     }

     .youtube-player {
         /*width:380px;
         height:280px;*/
         width: 100%;
         height:400px
     }

     .tuneInfoEditor {
         display: block;
         /*width:100%;*/
         margin: 0px 10px 0px 0px;
         padding: 10px;
         border: 1px solid #CCC;
         background: #99EDEA;
         border-radius: 6px;
         box-shadow: 0 1px 3px rgba(0,0,0,.25);
         min-width: 820px;
         max-width: 820px;
     }

     .tunePracticeEditor {
         display: block;
         /*width:100%;*/
         margin: 0px 10px 0px 0px;
         padding: 10px;
         border: 1px solid #CCC;
         background: #99EDEA;
         border-radius: 6px;
         box-shadow: 0 1px 3px rgba(0,0,0,.25);
         min-width: 820px;
         max-width: 820px;
     }


     .tuneAbcEditor {
         display: block;
         margin: 0px;
         padding: 10px;
         width: 100%;
         /*width: 380px;
         height: 380px;*/
         height: 200px;
         min-width: 820px;
         max-width: 820px;

     }

     .midiPlayer {
         float: left;
         margin-top: 15px;
         margin-left: 15px;
         margin-bottom: 15px;
     }

     .tuneVideoListGrid {
         border: 1px solid rgb(212,212,212);
         /*width: 400px;
         height: 300px;*/
         /*width: 100%;*/
         height: 100px;
     }

     .tuneWebsiteListGrid {
         border: 1px solid rgb(212,212,212);
         /*width: 400px;
         height: 300px;*/
         /*width: 100%;*/
         height: 100px;
     }

     .tunePlayDateListGrid {
         border: 1px solid rgb(212,212,212);
         /*width: 400px;
         height: 300px;*/
         /*width: 100%;*/
         height: 200px;
     }

     .tuneSetListGrid {
         border: 1px solid rgb(212,212,212);
         /*width: 400px;
         height: 300px;*/
         /*width: 100%;*/
         height: 200px;
     }

     .tuneModifiedAndPlayed {
         font-size: 0.8em;
         margin: 0 5px 0 355px;
         min-width: 345px;
         max-width: 345px;
         display: inline-block;
     }
 }

@media print {

	ul {
		list-style-type: none;
	}

    .lead, .justPlayedTheTuneSet, .tunePlayDateInfo,
    .tuneControlButtons, .tuneTabContent,
    .dropdown-toggle, .nav, .nav-tabs, .navbar-inner,
     .fbLikeBox{
        display: none;
    }

	/*TuneBook Name*/
	/*
    .lead  {
		text-align: right;
		font-size: 1em;
        height:50px;
	}
	*/

    .tuneSetBox {
        list-style-type: none;
        float: left;
        margin: 0 10px 40px 0; /*Abstand zwischen den TuneSets*/
        background: #eee;
        padding: 5px;
        width: 380px;
        border-radius: 6px;
    }

    .tuneSetPosition {
        list-style: none;
        border: 1px solid #CCC;
        background: #99EDEA;
        color: #1C94C4;
        margin: 5px;
        margin-top: 30px;
        /*height: 100%;*/	/*wird gebraucht, damit der Edit-Bereich (textarea) das li-Element vergr�ssert und nicht andere li-Elemente �berdeckt */
        /*height: 22px;*/
        min-height: 80px;		/*braucht es bei 0.9 sampledots scale */
        width: 350px;
        padding: 5px 5px 0px;
        border-radius: 6px;
        box-shadow: 0 1px 3px rgba(0,0,0,.25)
    }

    .sampleDotsViewer {
        display: block;
        /*overflow: true;*/
        position: absolute;
        /*margin: 10px;*/
        /*padding: 10px;*/
        margin-top: -115px; /*Auf H�he des Tunes setzen*/
        left: 420px;
        /*padding: 16px 16px 16px 60px;*/
        /*border: none;*/
        /*background: rgba(0, 0, 0, 0.02);*/
        /*z-index: 2;*/
        /*box-shadow: none;*/

        /*
        border: 1px solid #CCC;
        background: #eee;
        background: #99EDEA;

        padding-bottom: 0px;
        border-radius: 6px;
        box-shadow: 0 1px 3px rgba(0,0,0,.25)
        */
    }

    .tuneSetInfoLine {
        margin: 0;
        padding: 0;
        display: block;
        border: none;
    }

    .tuneSetName {
        font-size: 0.8em;
        margin: 0 0 0 5px;
        min-width: 120px;
        max-width: 120px;
        display: inline-block;
        color: black;
    }

    .tuneSetEnv {
        font-size: 0.8em;
        margin: 0 0 0 5px;
        min-width: 100px;
        max-width: 100px;
        display: inline-block;
        color: black;
    }

    .tuneSetTarget {
        font-size: 0.8em;
        margin: 0 0 0 5px;
        min-width: 100px;
        max-width: 100px;
        display: inline-block;
        color: black;
    }

    .tuneFirstLine {
        display: block;
        border: none;
        /*
		border-bottom: 1px solid #999;
		*/
    }

    .tuneType {
        margin: 5px;
        padding: 5px;
        /*font-size: 10%;*/ /*Font-Size kann nicht eingestellt werden. Warum?*/
        min-width: 50px;
        max-width: 50px;
        display: inline-block;
        color: black;
    }

    .tuneKey {
        margin: 5px;
        padding: 5px;
        /*font-size: 1.2em;*/
        min-width: 5px;
        max-width: 5px;
        display: inline-block;
        color: black;
    }

    .tuneSetPositionRepeat {
        float: right;
        margin: 5px;
        padding: 5px;
        /*font-size: 1.2em;*/
        min-width: 80px;
        max-width: 80px;
        display: inline-block;
        color: black;
    }

    .tuneSetPositionAnnotation {
        margin: 5px;
        padding: 5px;
        display: block;
        color: black;
        border-top: 1px solid #999;
    }
}
	
