<!DOCTYPE html>
<html lang="en" ng-app="eTuneBook" manifest="eTuneBook.appcache" >
<head>
	<title>eTuneBook</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Martin Fleischmann | eTuneBook">
	<meta name="keywords" content="eTuneBook, Abc Tunes">
	<meta name="description" content="eTuneBook, an application for managing abc tunes.">
	<meta name="audience" content="all">
	<meta name="robots" content="index,follow">
	<meta name="revisit-after" content="7 days">
	<meta name="page-topic" content="music, notation, repertoire">
	
	<link rel="SHORTCUT ICON" type="image/ico" href="app/img/eTuneBook10.ico">
	<link href="assets/css/bootstrapDropdownCollapseFix.css" rel="stylesheet"><!--see http://jsfiddle.net/nczJF/1/ and https://github.com/twitter/bootstrap/issues/3184-->
	<!--<link href="assets/css/bootstrap_2.2.2.css" rel="stylesheet">-->
    <!--<link href="assets/css/bootstrap-responsive_2.2.2.css" rel="stylesheet">-->
	<link href="assets/css/docs.css" rel="stylesheet"> <!--macht zum Beispiel aus den Dropdowns im subnav klar abgegrenzte Dropdowns, die beim Verkleinern entweder alle nebeneinander oder alle untereindaer kommen (subnav allerdings nicht mehr in Gebrauch). Auch für Brand rechts und dann links beim Verkleinern-->
	<link href="assets/css/colorPicker.css" rel="stylesheet">
	<link href="app/css/etunebook.css" rel="stylesheet">

	<!-- js which has to be read in the header -->

	<!-- jQuery -->
	<!-- jQuery wird zwingend von colorPicker gebraucht -->	
	<!--<script src="assets/js/jquery-1.7.2.js"></script> --> <!--Developer Version-->
	<script src="assets/js/jquery-1.7.2.min.js"></script> <!--Production Version-->
	
	<!-- colorPicker -->
	<!--<script src="assets/js/jquery.colorPicker.js"/></script> --> <!--Developer Version-->
	<script src="assets/js/jquery.colorPicker.min.js"/></script> <!--Production Version-->
	
	<!-- Angular -->
	<!-- Für ngCloak muss Angular.js im Header gelesen werden. Damit angular nicht jQuery-light lädt und dann der colorPicker umfällt: Zuerst jQuery laden und colorPicker-->
	<!--<script src="assets/js/angular-1.0.1.js"></script>--> <!--Developer Version-->
	<script src="assets/js/angular-1.0.1.min.js"></script> <!--Production Version--> 
</head>
 
<body id="TuneBookEditor" ng-controller="tbkCtrl" ng-cloak class="ng-cloak">
	<noscript>If you want to see eTuneBook in action you have to active JavaScript first!</noscript>	
	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
		  <a class="brand" href="app/img/martin08.jpg">eTuneBook</a>
          <div class="nav-collapse">
            <ul class="nav ">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown">TuneBook <b class="caret black-caret"></b></a>
						<ul class="dropdown-menu">
							<li><a class="newTuneBook" ng-click="initializeTuneBook()">New</a></li>
							<li><a class="importTuneBook" tbk-file-select-delegate>Open</a></li>
							<li><a class="loadBxplTuneBook" ng-click="loadBxplTuneBook()">Example: {{exampleFileName}}</a></li>
						</ul>
					</li>
				
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown">Tune <b class="caret black-caret"></b></a>
						<ul class="dropdown-menu">
							<li><a class="newTune" ng-click="newTune()">New</a></li>
						</ul>
					</li>
					
					<li>
						<form class="navbar-form">
							<select class="input-large" ng-change="filterForTuneSet(tuneSetPositionForFilter)" ng-model="tuneSetPositionForFilter" ng-options="tuneSetPositionForFilter.tuneTitle | eliminateThe group by tuneSetPositionForFilter.tuneType for tuneSetPositionForFilter in tuneSetPositionsForFilter | orderBy:'tuneTitle'">	</select>
						</form>
					</li>
					
					<li>
						<form class="navbar-form">
							<select class="input-small" ng-change="filterForTuneSetType(tuneSetTypeForFilter)" ng-model="tuneSetTypeForFilter" ng-options="tuneSetTypeForFilter.type + ' (' + tuneSetTypeForFilter.setCount + ' sets/' + tuneSetTypeForFilter.tuneCount + ' tunes)' for tuneSetTypeForFilter in tuneSetTypesForFilter | orderBy:'type'">	</select>
						</form>
					</li>
					
					<li>
						<form class="navbar-form">
							<select class="input-small" ng-change="filterForTuneSetKey(tuneSetKeyForFilter)" ng-model="tuneSetKeyForFilter" ng-options="tuneSetKeyForFilter.key + ' (' + tuneSetKeyForFilter.setCount + ' sets/' + tuneSetKeyForFilter.tuneCount + ' tunes)' for tuneSetKeyForFilter in tuneSetKeysForFilter | orderBy:'sort'">	</select>
						</form>
					</li>
					
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown">Color <b class="caret black-caret"></b></a>
						<ul class="dropdown-menu">	
							<li class="selectTuneColor" ng-repeat="tuneSetColorForFilter in tuneSetColorsForFilter" style="background-color:{{tuneSetColorForFilter.color}}"><a   style="background-color:{{tuneSetColorForFilter.color}}; color:{{tuneSetColorForFilter.color}}" ng-click="filterForTuneSetColor(tuneSetColorForFilter)" >{{tuneSetColorForFilter.color}} <i ng-show="tuneSetColorToFilter == tuneSetColorForFilter.color" class="icon-ok"></i></a></li>
						</ul>
					</li>
										
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown">Skill <b class="caret black-caret"></b></a>
						<ul class="dropdown-menu">	
							<li><a class="selectTuneSetSkill"  ng-repeat="skillType in skillTypes" ng-click="filterForTuneSetSkill(skillType)" >{{skillType.description}} <i ng-show="tuneSetSkillToFilter == skillType.skill" class="icon-ok"></i></a></li>
						</ul>
					</li>
					
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown">Sort <b class="caret black-caret"></b></a>
						<ul class="dropdown-menu">
							<li><a class="orderByLastPlayed" ng-click="orderByLastPlayed()">Last Played <i ng-show="tuneSetSortField == 'lastPlayed'" class="icon-ok"></i><i ng-show="!tuneSetSortReverse  && tuneSetSortField == 'lastPlayed'" class="icon-arrow-up"></i><i ng-show="tuneSetSortReverse  && tuneSetSortField == 'lastPlayed'" class="icon-arrow-down"></i></a></li>
							<li><a class="orderByFrequencyPlayed" ng-click="orderByFrequencyPlayed()">Rehearse Frequency <i ng-show="tuneSetSortField == 'frequencyPlayed'" class="icon-ok"></i><i ng-show="!tuneSetSortReverse  && tuneSetSortField == 'frequencyPlayed'" class="icon-arrow-up"></i><i ng-show="tuneSetSortReverse  && tuneSetSortField == 'frequencyPlayed'" class="icon-arrow-down"></i></a></li>
							<li><a class="orderByTuneSetId" ng-click="orderByTuneSetId()">TuneSet-Nr. <i ng-show="tuneSetSortField == 'tuneSetId'" class="icon-ok"></i><i ng-show="!tuneSetSortReverse  && tuneSetSortField == 'tuneSetId'" class="icon-arrow-up"></i><i ng-show="tuneSetSortReverse  && tuneSetSortField == 'tuneSetId'" class="icon-arrow-down"></i></a></li>
							<li><a class="orderByRandomNumber" ng-click="orderByRandomNumber()">Random <i ng-show="tuneSetSortField == 'sort'" class="icon-ok"></i><i ng-show="!tuneSetSortReverse  && tuneSetSortField == 'sort'" class="icon-arrow-up"></i><i ng-show="tuneSetSortReverse  && tuneSetSortField == 'sort'" class="icon-arrow-down"></i></a></li>
						</ul>
					</li>
								
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown">View <b class="caret black-caret"></b></a>
						<ul class="dropdown-menu">
							<li ng-class="{exportShown: showExport}"><a ng-click="exportTuneBook(true)">Abc<i ng-show="showExport" class="icon-ok"></i></a></li>
							<li ng-class="{tuneSetsShown: showTuneSets}"><a ng-click="viewTuneSets()">TuneSets <i ng-show="showTuneSets" class="icon-ok"></i></a></li>
							<li class="divider"></li>
							<li ng-class="{introductionShown: showIntroduction}"><a ng-click="introduction()">Introduction <i ng-show="showIntroduction" class="icon-ok"></i></a></li>
							<li ng-class="{gettingStartedShown: showGettingStarted}"><a ng-click="gettingStarted()">Getting Started <i ng-show="showGettingStarted" class="icon-ok"></i></a></li>
							<li ng-class="{manualShown: showManual}"><a ng-click="manual()">Manual <i ng-show="showManual" class="icon-ok"></i></a></li>
							<li ng-class="{releaseNotesShown: showReleaseNotes}"><a ng-click="releaseNotes()">Release Notes <i ng-show="showReleaseNotes" class="icon-ok"></i></a></li>
							<li ng-class="{creditsShown: showCredits}"><a ng-click="credits()">Credits <i ng-show="showCredits" class="icon-ok"></i></a></li>
							<li ng-class="{feedbackShown: showFeedback}"><a ng-click="feedback()">Feedback <i ng-show="showFeedback" class="icon-ok"></i></a></li>
						</ul>
					</li>
					
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret black-caret"></b></a>
						<ul class="dropdown-menu">
							<li><a ng-click="toggleTuneSecondLine()">Show Rehearse Buttons <i ng-show="showTuneSets && showTuneSecondLine && !(sessionModus)" class="icon-ok"></i></a></li>
							<li><a ng-click="toggleTuneThirdLine()">Show Info Buttons <i ng-show="showTuneSets && showTuneThirdLine && !(sessionModus)" class="icon-ok"></i></a></li>
							<li><a ng-click="toggleTuneForthLine()">Show Edit Buttons <i ng-show="showTuneSets && showTuneForthLine && !(sessionModus)" class="icon-ok"></i></a></li>
							<li class="divider"></li>
							<li><a ng-click="toggleSessionModus()">Session Modus<i ng-show="showTuneSets && sessionModus" class="icon-ok"></i></a></li>
							<li class="divider"></li>
							<li><a ng-click="toggleTuneSetAbc()">Export TuneSets<i ng-show="tuneSetAbcIncl" class="icon-ok"></i></a></li>
							<li><a ng-click="togglePlayDateAbc()">Export Playdates<i ng-show="playDateAbcIncl" class="icon-ok"></i></a></li>
							<li><a ng-click="toggleSkillAbc()">Export Skills<i ng-show="skillAbcIncl" class="icon-ok"></i></a></li>
							<li><a ng-click="toggleColorAbc()">Export Colors<i ng-show="colorAbcIncl" class="icon-ok"></i></a></li>
							<li><a ng-click="toggleAnnotationAbc()">Export Comments<i ng-show="annotationAbcIncl" class="icon-ok"></i></a></li>
							<li><a ng-click="toggleSiteAbc()">Export Sites<i ng-show="siteAbcIncl" class="icon-ok"></i></a></li>
							<li><a ng-click="toggleTubeAbc()">Export Videos<i ng-show="tubeAbcIncl" class="icon-ok"></i></a></li>
							<li><a ng-click="toggleFingeringAbc()">Show/Export Fingering<i ng-show="fingeringAbcIncl" class="icon-ok"></i></a></li>
						</ul>
					</li>		
				</ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
	<div class="container-fluid">	
		
		<header class="jumbotron subhead" id="overview" >	
			<div ng-show="showTuneSets || showExport || showProgress">
				<p class="lead" ng-show="!showProgress">{{tuneBook.name}}</p>  
				<!--<p class="lead" ng-show="showProgress">Loading {{tuneBook.name}} ... please wait!-->
				<p class="lead" ng-show="showProgress">Loading... please wait!				
				<br><br><progress ng-show="showProgress" value="{{progress}}" max="100"></progress></p>
			</div>	
		</header>
		
		<div class="row-fluid" ng-show="showTuneSets">
			<div class="span4">
				<div class="paginationButtons" ng-show="showTuneSets && showPageButtons && pages.length > 1">
					<button class="btn btn-mini pageBtn" ng-repeat="page in pages" ng-disabled="currentPage==page.number - 1" ng-class="{isActivControl: currentPage==page.number - 1}" ng-click="setCurrentPage(page)">{{page.number}}</button>
				</div>
			</div>
			<div class="span8">
			</div>
		</div>
		
		<div class="showIntroduction" ng-show="showIntroduction">
			<div class="row-fluid">
				<div class="span2">	</div>
				<div class="span8 well">			
					<h2>Welcome to eTuneBook</h2>
					<br>
					<p>With eTuneBook you can</p>
					<ul>
						<li>Manage Abc tunes in your browser.</li>
						<li>Build tune sets.</li>
						<li>Have a quick look at the first bars of a tune (e.g. on your smart phone during a session).</li>
						<li>Remember when you last played a tune and how good you were.</li>
						<li>Label tunes with a color or add a comment.</li>
						<li>Transpose tunes.</li>
						<li>Store links to other sites holding tune informations and jump to those sites by clicking the site buttons.</li>
						<li>Store links to YouTube videos and view them in eTuneBook by clicking the video buttons.</li>
						<li>Easily identify those tunes you should rehearse. Just sort by last play dates, rehearse frequency or skill.</li>
						<li>Find tunes by title, key, type or color.</li>
					</ul>
					<br>
					<p>Get started by choosing</p>
					<ul>
						<li>View > Getting Started </li>
					</ul>
					<br>
					<p>eTuneBook is free of use. If you find it useful, you might consider donations for nature conservation.</p>					
				</div>		
				<div class="span2"></div>				
			</div>
		</div>
		
		<div class="showGettingStarted" ng-show="showGettingStarted">
			<div class="row-fluid">
				<div class="span2"></div>
				<div class="span8 well">
					<h2>Getting started</h2>
					<br>
					<p><strong>1. Choose a good Browser</strong></p> 
					<p>I recommend <a href="http://www.google.com/chrome" target="_blank">Chrome</a>. It's by far the fastest Browser and works best with eTuneBook. <a href="http://www.mozilla.org/" target="_blank">Firefox</a> would be another option. 
					<br>I do not recommend other Browsers. They are either dead slow or do not support loading Abc Tunebooks from the local disc.</p>
					<br>
					<p><strong>2. Activate Javascript and local Storage</strong></p> 
					<p>Normally this stuff is activated by default. 
					<br>In case you disabled Javascript, you won't see nothing or weird things.
					<br>In case you disabled local Storage, you won't be able to save your changes.</p>
					<br>
					<p><strong>3. Get familiar with the abc tune format</strong></p>
					<p>eTuneBook uses the abc tune format which is defined at <a href="http://abcnotation.com/wiki/abc:standard:v2.1" target="_blank">abcnotation.com</a>. There are many sources of abc tunes and abc tunebooks out there. At <a href="http://www.thesession.org/" target="_blank">session.org</a> for example you can find thousands of irish session tunes in abc format.</p>
					<br>
					<p><strong>4. Have a look at the eTuneBook Manual</strong></p>
					<p>All eTuneBook functions are explained under View > Manual.</p> 
					<br>
					<p><strong>5. Choose from the TuneBook-Menu</strong></p>
					<ul>					
					<li>TuneBook > New:     Begin from scratch</li>
					<li>TuneBook > Open:    Import a Tunebook from your local disc</li> 
					<li>TuneBook > Example: Load an example Tunebook from the server </li>
					</ul>
				</div>
				<div class="span2"></div>
			</div>
		</div>
		
		<div class="showManual" ng-show="showManual">
			<div class="row-fluid">
				<div class="span2">	</div>
				<div class="span8 well">			
					<h2>Manual</h2>
					<dl>
						<dt><h3>Import Abc tunes</h3></dt>
						<dd>
							<p><strong>TuneBook > Open</strong> <br>Import an Abc Tunebook from your local disc.</p>
							<p><strong>TuneBook > Example: {{exampleFileName}}</strong> <br>Load an example Tunebook from the server. Current example is BoxPlayer.abc (irish tunes with fingering for piano accordion). For more information about BoxPlayer.abc please visit <a href="http://www.boxplayer.ch/" target="_blank">boxplayer.ch</a> (which will soon be ready)</p>
						</dd>
						<br>
						<dt><h3>Add Abc tunes</h3></dt>
						<dd>
							<p>Copy an Abc-tune to the clipboard , e.g. from <a href="http://www.thesession.org/" target="_blank">session.org</a>. Don't copy the first line which starts with 'X:'. eTuneBook generates the X-line automatically.</p>
							<p><strong>TuneBook > New</strong> <br>Generate a new Tunebook with one new tune.</p>
							<p><strong>Tune > New</strong> <br>Add a new tune.</p>
							<p>In both cases the Abc-Editor for the new Tune opens. Paste the Abc-tune from the clipboard to the Abc-Editor. The dots are shown simultanously on the right side. </p> 
							<p>The Abc-Editor will be closed as soon as you click somewhere else or change windows.</p>
						</dd>
						<br>
						<dt><h3>Export Abc tunes</h3></dt>
						<dd>
							<p>Every change you make to your Tunebook is immediately saved to the local storage of your browser. You never have to press a save button.</p> 
							<p>However, for savety reasons you should regularly export Abc tunes:</p>
							<p><strong>View > Abc</strong> <br>Displays the Abc-Tunes currently selected. If no selection is active, the whole Tunebook is exported. From the Settings-Menu you further can choose which of the eTuneBook-specific fields should be exported.</p>
							<p>Copy the exported Abc-Tunes to the clipboard and paste them to your document-version of your tunebook. eTuneBook cannot do the document-save for you at the moment, because there is no browser-wide support for this.</p>
						</dd>
						<br>
						<dt><h3>Edit or delete Abc tunes</h3></dt>
						<dd>
							<p>The Abc-Code of a tune can be edited by pressing:</p>
							<p><strong>Abc-Button</strong> <br>The Abc-Editor opens. The dots are shown simultanously on the right side. 
							<br>In case you want to get rid of the tune, just delete the whole Abc-Code of the tune. 
						</dd>
						<br>
						<dt><h3>Build tune sets</h3></dt>
						<dd>
							<p>In eTuneBook every tune belongs to one or more set. If you load an abc-TuneBook that was generated by another program or by hand, eTuneBook puts every tune in a separate set. Also new tunes are first put into a new set. </p>
							<p>In order to build tune sets, tunes are moved around using the Move-Panel. The Move-Panel can be opened/closed by pressing:</p>
							<p><strong>Move-Button</strong> <br>The Move-Panel opens. Choose where to move: before or after another tune. After pressing 'Move' on the Move-Panel eTuneBook puts the tune at the chosen position in the target set and closes the Move-Panel. In case the original set gets empty after moving a tune, the empty set will be automatically removed.</p>
						</dd>
						<br>
						<dt><h3>Edit tune info</h3></dt>
						<dd>
							<p>The Info-Editor can be opened/closed by pressing:</p>
							<p><strong>Info-Button</strong></p> 
							<ul>
							<li>Change how many times the tunes is repeated in the set (default is 3x).</li>
							<li>Add up to three links to sites containing additional tune infos. Valid formats are defined by the placeholders.</li>
							<li>Add up to three links to youTube-videos. Valid formats are defined by the placeholders.</li>
							<li>Add a comment.</li>
							</ul> 
						</dd>
						<br>
						<dt><h3>Add rehearse infos</h3></dt>	
						<dd>
							<p><strong>Played-Button</strong> <br>After you played a tune, hit the Played-Button. eTuneBook then stores the playing date. On the base of all playing Dates eTuneBook constantly calculates rehearse frequency scores for sorting tunes.</p>  
							<p><strong>Skill-Buttons (tumbs-up/thumbs-down):</strong> <br>After you played a tune, judge how good you are by pressing the thumbs-up or -down-Button. eTuneBook then stores your skill judgement.</p>
							<p><strong>Color-Selector</strong> <br>Colorize the tune by selecting a color. Colors can have a meaning or not, it's up to you. eTuneBook stores the chosen color.</p>		
						</dd>
						<br>
						<dt><h3>View the dots</h3></dt>
						<dd>
							<p><strong>dots-Button</strong> <br>Opens/Closes the dots on the right side of the tune.</p>
							<p>Transpose the tune by clicking the arrow up or down. This changes both the abc and the dots.</p>
							<p>Fingering can be switched on/off in the settings-menu.</p>
						</dd>
						<br>
						<dt><h3>Jump to other sites</h3></dt>
						<dd>
							<p>The site-Buttons (s1,s2,s3) are displayed, in case the corresponding sites have been specified using the Info-Editor</p>
							<p><strong>s1-Button</strong> <br>Opens site 1 in a new window.</p>
							<p><strong>s2-Button</strong> <br>Opens site 2 in a new window.</p>
							<p><strong>s3-Button</strong> <br>Opens site 3 in a new window.</p>
						</dd>
						<br>
						<dt><h3>View videos</h3></dt>
						<dd>
							<p>The video-Buttons (v1,v2,v3) are displayed, in case the corresponding videos have been specified using the Info-Editor</p>
							<p><strong>v1-Button</strong> <br>Opens/closes video 1 on the right side of the tune.</p>
							<p><strong>v2-Button</strong> <br>Opens/closes video 2 on the right side of the tune.</p>
							<p><strong>v3-Button</strong> <br>Opens/closes video 3 on the right side of the tune.</p>
						</dd>
						<br>
						<dt><h3>Filters</h3></dt>
						<dd>
							<p>Sets can be filtered by:</p>
							<ul>
								<li><p><strong>Title</strong></p></li>
								<li><p><strong>Type</strong></p></li>
								<li><p><strong>Key</strong></p></li>
								<li><p><strong>Color</strong></p></li>
								<li><p><strong>Skill</strong></p></li>
							</ul>			
						</dd>
						<br>
						<dt><h3>Sort</h3></dt>
						<dd>
							<p>Sets can be sorted by:</p>
							<ul>
								<li><p><strong>Last Playing Date</strong></p></li>
								<li><p><strong>Rehearse Frequency</strong></p></li>
								<li><p><strong>TuneSet Id</strong></p></li>
								<li><p><strong>Random Order</strong></p></li>						
							</ul>
							<p>Sorting direction can be changed by clicking the same menu item again.</p>	
						</dd>
						<br>
						<dt><h3>View</h3></dt>
						<dd>
							<p>Choose a view:</p>
							<ul>
								<li><p><strong>Abc</strong><br>Displayes the currently selected tunes in form of Abc-Code (export-modus).</p></li>
								<li><p><strong>TuneSets</strong><br>Displayes the currently selected tunes in form of sets (main view of eTuneBook).</p></li>
								<li><p><strong>Introduction</strong></p></li>
								<li><p><strong>Manual</strong></p></li>
								<li><p><strong>Release-Notes</strong></p></li>
								<li><p><strong>Credits</strong></p></li>
								<li><p><strong>Feedback</strong></p></li>								
							</ul>
						</dd>
						<br>
						<dt><h3>Settings</h3></dt>
						<dd>		
							<p>You can show/hide tune-buttons in the TuneSet-View:</p>
							<ul>
								<li><p><strong>Rehearse Buttons</strong><br>Show/Hide the first line of tune-buttons (Played-Button, Skill-Button, Color-Selector).</p></li>
								<li><p><strong>Info Buttons</strong><br>Show/Hide the second line of tune-buttons (Dots-Button, Site-Buttons, YouTube-Buttons).</p></li>
								<li><p><strong>Edit Buttons</strong><br>Show/Hide the third line of tune-buttons (Abc-Button, Info-Button, Move-Button).</p></li>								
							</ul>
							<p>You can choose between the normal TuneSet-View and a more compact session modus (less scrolling on smaller screens).</p>
							<p>You can choose to export eTuneBook-specific fields:</p>
							<ul>
								<li><p><strong>TuneSets</strong></p></li>
								<li><p><strong>Playdates</strong></p></li>
								<li><p><strong>Skills</strong></p></li>
								<li><p><strong>Colors</strong></p></li>
								<li><p><strong>Comments</strong></p></li>
								<li><p><strong>Sites</strong></p></li>
								<li><p><strong>Videos</strong></p></li>								
							</ul>
							<p>Attention: If you choose to export only standard Abc eTuneBook-specific fields will be lost after Re-Import.</p>
							<p>You can switch on/off fingering when viewing dots or Abc-exports.</p>
						</dd>
					</dl>
				</div>		
				<div class="span2"></div>
			</div>
		</div>
		
		
		<div class="showReleaseNotes" ng-show="showReleaseNotes">
			<div class="row-fluid">
				<div class="span2">	</div>
				<div class="span8 well">			
					<h2>Release Notes</h2>
					<br>
					<p>Release 1.0.3 (22.12.2012)</p>
					<ul>
						<li>03.02.13: Updated Boxplayer.abc from V097 to V098.</li>
						<li>20.01.13: FaceBook LikeBox</li>
						<li>09.01.13: Updated Boxplayer.abc from V096 to V097.</li>
						<li>06.01.13: Updated Boxplayer.abc from V095 to V096.</li>
						<li>02.01.13: Updated Boxplayer.abc from V094 to V095.</li>
						<li>29.12.12: Updated Boxplayer.abc from V093 to V094.</li>
						<li>22.12.12: First version of tune transposer</li>
					</ul>
					<br>
					<p>Release 1.0.2 (09.12.2012)</p>
					<ul>
						<li>19.12.12: Updated Boxplayer.abc from V092 to V093.</li>
						<li>16.12.12: Twice the same tune title in one set: dots are now rendered.</li>
						<li>16.12.12: Updated Boxplayer.abc from V091 to V092.</li>
						<li>09.12.12: Introduced more compact session modus for smaller screens.</li>
						<li>09.12.12: Updated Boxplayer.abc from V09 to V091.</li>
					</ul>
					<br>
					<p>Release 1.0.1 (15.10.2012)</p>
					<ul>
						<li>28.11.12: Total tune set count fixed in key-selector.</li>
						<li>28.11.12: Updated Boxplayer.abc from V085 to V09.</li>
						<li>21.11.12: Updated Boxplayer.abc from V08 to V085.</li>
						<li>01.11.12: Updated Boxplayer.abc from V07 to V08.</li>
						<li>15.10.12: The following settings are now remembered (stored in local storage): Which buttons to show, filter and sort algorithm, selected page.</li>
						<li>15.10.12: Updated Boxplayer.abc from V05 to V06.</li>
						<li>16.10.12: Reduced page size from 10 sets to 5.</li>
						<li>17.10.12: Reduced sample dots to 4 bars.</li>
						<li>01.11.12: Updated Boxplayer.abc from V06 to V07.</li>
					</ul>
					<br>
					<p>Release 1.0.0 (05.10.2012)</p>
					<ul>
						<li>Launch of eTuneBook</li>
						<li>Added AppCache for offline work.</li>
						<li>Fixed broken fingering-switch and extended it to sample dots.</li>
						<li>Fixed disappearing of sample dots after editing.</li>
						<li>Updated Boxplayer.abc from V01 to V05.</li>
					</ul>
					<br>
					<p>Limitations / Issues</p>
					<ul>
						<li>Tunes can only be moved, not copied; A tune cannot exist in more than one set.</li>
						<li>No printing yet.</li>
						<li>No Midi Integration.</li>
						<li>Chords cannot be switched on/off.</li>
						<li>Performance is bad in other browsers than Chrome.</li>
					</ul>
				</div>		
				<div class="span2"></div>
			</div>
		</div>
		
		
		<div class="showCredits" ng-show="showCredits">
			<div class="row-fluid">
				<div class="span2">	</div>
				<div class="span8 well">			
					<h2>Credits</h2>
					<br>
					<p>eTuneBook wouldn't have been possible without the fantastic work of the following guys. Many thanks to:</p>
					<ul>
						<li>Paul Rosen and Gregory Dyke for <a href="http://code.google.com/p/abcjs/" target="_blank">abcjs</a>. Please have a look at Paul's <a href="http://drawthedots.com/" target="_blank">Tune Editor</a> and at his band <a href="http://itsfloorplay.com/" target="_blank">Floorplay</a>.</li>
						<li>Jens Wollschlaeger for his <a href="http://www.8ung.at/abctransposer/" target="_blank">abc transposer</a>.</li>
						<li>Google for <a href="http://angularjs.org/" target="_blank">angular</a>.</li>
						<li>Twitter for <a href="http://twitter.github.com/bootstrap/" target="_blank">bootstrap</a>.</li>
						<li><a href="http://www.thesession.org/" target="_blank">Session.org</a> for their huge foundation of session tunes.</li>
						<li>Lakshan Perera for his <a href="http://laktek.com/2008/10/27/really-simple-color-picker-in-jquery/" target="_blank">Color-Picker</a>.</li>
					</ul>		
				</div>		
				<div class="span2"></div>
			</div>
		</div>
		
		<div class="showFeedback" ng-show="showFeedback">
			<div class="row-fluid">
				<div class="span2">	</div>
				<div class="span8 well">			
					<h2>Feedback</h2>
					<br>
					<h3>Issues, Critics</h3>
					<p>Feedback is much appreciated. Please help eTuneBook to be improved and drop your comments at info@etunebook.ch</p>
					<h3>Contribution</h3>
					<p>At the moment you can load one example TuneBook from the server. Future Versions of eTuneBook might also include other examples. Thus if you think your TuneBook would be worth to be seen by other musicians, go ahead and send it to info@etunebook.ch and we'll discuss about publishing.</p>		
					<h3>About me</h3>
					<p>I'm the <a href="http://www.boxplayer.ch" target="_blank">Box Player</a> of the swiss ceili band <a href="http://www.toefortoe.ch/site/d/band.html" target="_blank">Toe for Toe</a>.</p>
					<p>Main intend to build eTuneBook was to bring order into my repertoire (it should integrate tune-list and dots and other informations). Another goal was to use it for instructions how to play irish music on the piano accordion. Check the <a href="http://www.boxplayer.ch/category/box-lesson/" target="_blank">Box Lessons</a> for this topic.</p>
				</div>		
				<div class="span2"></div>
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span4" ng-show="showTuneSets">
				<div class="tuneSet" ng-repeat="tuneSet in tuneSetsDisplayed = (tuneSetsFiltered = (tuneBook.tuneSets | orderBy:tuneSetSortField:tuneSetSortReverse | filter:tuneSetIdFilter | filter:tuneSetTypeFilter | filter:tuneSetKeyFilter | filter:tuneSetColorFilter | filter:tuneSetSkillFilter) | startFrom:currentPage*pageSize | limitTo:pageSize)" >		
					<div class="tuneSetInfo">
						<!--<div class="tuneSetNr">TuneSet-Nr.: {{tuneSet.tuneSetId}} /  Frequency: {{tuneSet.frequencyPlayed}} /  Last Played: {{tuneSet.lastPlayed | fromNow}}</div>-->
						<div class="tuneSetNr">Set {{tuneSet.tuneSetId}} </div> 		
					</div>
					<ul id="tuneSetPositionList" class='sortable' ng-class="{showSessionModus: sessionModus}"><!--TODO: connected und sortable ersetzen (siehe vorallem css)-->
						<li ng-repeat="tuneSetPosition in tuneSet.tuneSetPositions | orderBy:'position'" ng-class="{editing: tuneSetPosition.tune == editedTune, showSessionModus: sessionModus}" style="background-color:{{tuneSetPosition.tune.color}}" tbk-show-sample-abc="tuneSetPosition.tune == editedTune">
						<!--<li ng-repeat="tuneSetPosition in tuneSet.tuneSetPositions | orderBy:'position'" ng-class="{editing: tuneSetPosition.tune == editedTune, sleeping: editedTune != null && tuneSetPosition.tune != editedTune}" style="background-color:{{tuneSetPosition.tune.color}}">-->	
							<div class="view">
								<div class="tuneFirstLine">
									<div class="tuneTitle"><strong>{{tuneSetPosition.tune.title | eliminateThe | max20chars}}</strong></div>
									<div class="tuneType">{{tuneSetPosition.tune.type}}</div>
									<div class="tuneType">{{tuneSetPosition.tune.key}}</div>
									<div class="tuneSetPositionRepeat">{{tuneSetPosition.repeat}}x</div>
								</div>
								<div class="tuneSecondLine" ng-show="showTuneSecondLine" ng-class="{showSessionModus: sessionModus}">
									<a class='btn btn-mini btn-info justPlayedTheTune' ng-click="justPlayedTheTune(tuneSetPosition)">Played</a>
									<div class="tunePlayDateInfo">
										<div class="tuneLastPlayed">{{tuneSetPosition.tune.lastPlayed | fromNow}}</div>
										<!--<div class="tuneLastPlayed">{{tuneSetPosition.tune.lastPlayed | date:'yyyy-MM-dd HH:mm'}}</div>-->
									</div>	
									<div class="tuneSkillInfo">
										<div class="tuneSkillLabel">Skill</div>
										<a class='btn btn-mini btn-info decreaseSkill' ng-click="decreaseSkill(tuneSetPosition)" ><i class='icon-thumbs-down'></i></a>
										<a class='btn btn-mini btn-info increaseSkill' ng-click="increaseSkill(tuneSetPosition)" ><i class='icon-thumbs-up'></i></a>
										<div class="tuneSkill">{{tuneSetPosition.tune.skill}}</div>
									</div>	
									<input class="tuneColorizer" id="colorFor{{tuneSetPosition.tune.title}}" type="text" name="{{tuneSetPosition.tune.color}}" value="{{tuneSetPosition.tune.color}}"  tbk-colorselect/>
								</div>
								<div class="tuneThirdLine" ng-show="showTuneThirdLine">
									<div class="tuneSelfInfoButtonGroup">
										<!--<a class='btn btn-mini btn-info' tbk-popover><i class='icon-music'></i></a>-->
										<a class='btn btn-mini btn-info dotsViewerBtn' ng-click="dotsViewer(tuneSetPosition)" ng-class="{isActivControl: tuneSetPosition.tune == dotsViewerTune}" ><i class='icon-music'></i></a>
									</div>
									<div class="tuneForeignInfoButtonGroup" ng-class="{showSessionModus: sessionModus}">
										<a class='btn btn-mini btn-info' ng-show="tuneSetPosition.tune.site1" href={{tuneSetPosition.tune.site1}} target="_blank">s 1</a>
										<a class='btn btn-mini btn-info' ng-show="tuneSetPosition.tune.site2" href={{tuneSetPosition.tune.site2}} target="_blank">s 2</a>
										<a class='btn btn-mini btn-info' ng-show="tuneSetPosition.tune.site3" href={{tuneSetPosition.tune.site3}} target="_blank">s 3</a>
										<a class='btn btn-mini btn-info' ng-show="tuneSetPosition.tune.youTube1" ng-click="toggleYouTubeVideo(tuneSetPosition, tuneSetPosition.tune.youTube1)" ng-class="{isActivControl: tuneSetPosition.tune == youTubeTune  && tuneSetPosition.tune.youTube1 == youTubeUrl}" >v 1</a>
										<a class='btn btn-mini btn-info' ng-show="tuneSetPosition.tune.youTube2" ng-click="toggleYouTubeVideo(tuneSetPosition, tuneSetPosition.tune.youTube2)" ng-class="{isActivControl: tuneSetPosition.tune == youTubeTune && tuneSetPosition.tune.youTube2 == youTubeUrl}" >v 2</a>
										<a class='btn btn-mini btn-info' ng-show="tuneSetPosition.tune.youTube3" ng-click="toggleYouTubeVideo(tuneSetPosition, tuneSetPosition.tune.youTube3)" ng-class="{isActivControl: tuneSetPosition.tune == youTubeTune && tuneSetPosition.tune.youTube3 == youTubeUrl}" >v 3</a>	
									</div>
								</div>
								<div class="tuneForthLine" ng-show="showTuneForthLine" ng-class="{showSessionModus: sessionModus}">
									<a class='btn btn-mini btn-info editTuneBtn' ng-click="editTune(tuneSetPosition)" >Abc</a>
									<a class='btn btn-mini btn-info editTuneInfoBtn' ng-click="editTuneInfo(tuneSetPosition)" ng-class="{isActivControl: tuneSetPosition == infoEditedTuneSetPosition}" >Info</a>
									<a class='btn btn-mini btn-info moveTuneBtn' ng-click="moveTune(tuneSetPosition)" ng-class="{isActivControl: tuneSetPosition == movedTuneSetPosition}" >Move</a>
								</div>
									
							</div>
							
							<form>
								<textarea id={{tuneSetPosition.tune.id}} class="input-xlarge edit"   ng-model="tuneSetPosition.tune.pure" tbk-tune-blur="doneEditing(tuneSetPosition)" tbk-tune-focus="tuneSetPosition.tune == editedTune"></textarea>
							</form>
																
							<div id="showEditInfoFor{{tuneSetPosition.tune.id}}" class="infoEditor" ng-class="{showInfoEditor: tuneSetPosition == infoEditedTuneSetPosition}" style="background-color:{{tuneSetPosition.tune.color}}" >
								<legend>{{tuneSetPosition.tune.title | eliminateThe}}</legend>			
								<form class="form-horizontal" >
									<div class="control-group">
										<label class="control-label" for="inputTuneSetId">TuneSet-Nr.</label>
										<div class="controls">
											<input type="text" class="span2" id="inputTuneSetId" ng-model="tuneSetPosition.tuneSetId" disabled>
										</div>
										<label class="control-label" for="inputPosition">Position</label>
										<div class="controls">
											<input type="text" class="span2" id="inputPosition" ng-model="tuneSetPosition.position" disabled>
										</div>
										<label class="control-label" for="inputPlaytime">Repeat</label>
										<div class="controls">
											<input type="text" class="span2" id="inputPlaytime" ng-model="tuneSetPosition.repeat" placeholder="3">
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="inputSite1">Site 1</label>
										<div class="controls">
											<input type="text" class="input-xlarge" id="inputSite1" ng-model="tuneSetPosition.tune.site1" placeholder="http://www.thesession.org/tunes/display/1">
										</div>
										<label class="control-label" for="inputSite2">2</label>
										<div class="controls">
											<input type="text" class="input-xlarge" id="inputSite2" ng-model="tuneSetPosition.tune.site2" placeholder="http://www.thesession.org/tunes/display/1">
										</div>
										<label class="control-label" for="inputSite3">3</label>
										<div class="controls">
											<input type="text" class="input-xlarge" id="inputSite3" ng-model="tuneSetPosition.tune.site3" placeholder="http://www.thesession.org/tunes/display/1">
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="inputYouTube1">YouTube 1</label>
										<div class="controls">
											<input type="text" class="input-xlarge" id="inputYouTube1" ng-model="tuneSetPosition.tune.youTube1" placeholder="http://www.youtube.com/embed/pe__q4zIrAY">
										</div>
										<label class="control-label" for="inputYouTube2">2</label>
										<div class="controls">
											<input type="text" class="input-xlarge" id="inputYouTube2" ng-model="tuneSetPosition.tune.youTube2" placeholder="http://www.youtube.com/embed/pe__q4zIrAY">
										</div>
										<label class="control-label" for="inputYouTube3">3</label>
										<div class="controls">
											<input type="text" class="input-xlarge" id="inputYouTube3" ng-model="tuneSetPosition.tune.youTube3" placeholder="http://www.youtube.com/embed/pe__q4zIrAY">
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="inputAnnotation">Comment</label>
										<div class="controls">
											<input type="text" class="input-xlarge" id="inputAnnotiation" ng-model="tuneSetPosition.tune.annotation" placeholder="Place your comments...">
										</div>
									</div>
									
									<div class="control-group">
										<label class="control-label" for="inputSkill">Skill</label>
										<div class="controls">
											<input type="text" class="input-xlarge" id="inputSkill" ng-model="tuneSetPosition.tune.skill" value="{{tuneSetPosition.tune.skill | addSkillDescription}}"disabled>
										</div>
									</div>
									
									<div class="control-group">
										<label class="control-label" for="inputPlayDates">Playdates</label>
										<div class="controls" ng-repeat="playDate in tuneSetPosition.tune.playDates">
											<input type="text" class="span4" id="inputPlayDates" ng-model="playDate" value="{{playDate | date: 'yyyy-MM-dd HH:mm' | noDefaultDate}}" disabled>
										</div>
									</div>
								</form>
							</div>
							
							<div id="showTheMoveEditorFor{{tuneSetPosition.tune.id}}" class="moveEditor" ng-class="{showMoveEditor: tuneSetPosition == movedTuneSetPosition}" style="background-color:{{tuneSetPosition.tune.color}}" >
								<legend>Move {{tuneSetPosition.tune.title | eliminateThe}}</legend>
								<form class="form-inline" ng-submit="doneMoving(tuneSetPosition, targetTuneSetPosition, beforeOrAfter)" >
									<label class="radio inline">
										<input type="radio" name="beforeOrAfter" id="beforeOrAfter1" ng-model="beforeOrAfter" value="before" checked>
										Before
									</label>
									<label class="radio inline">
										<input type="radio" name="beforeOrAfter" id="beforeOrAfter2" ng-model="beforeOrAfter" value="after">
										After
									</label>
									<select class="input-large" ng-model="targetTuneSetPosition" ng-options="(targetTuneSetPosition.tune.title | eliminateThe) + ' (Set ' + targetTuneSetPosition.tuneSetId + ', Pos. ' + targetTuneSetPosition.position + ', ' + targetTuneSetPosition.tune.type + ', ' + targetTuneSetPosition.tune.key + ')'  for targetTuneSetPosition in targetTuneSetPositionsForMoving | orderBy:'tune.title'">	</select>
									<button type="submit" class="btn">Move</button>
								</form>
							</div>
								
							<div id="showTheDotsFor{{tuneSetPosition.tune.id}}" class="edit showTheDots" style="background-color:{{tuneSetPosition.tune.color}}"></div>
							
							<div id="dotsViewerFor{{tuneSetPosition.tune.id}}" class="dotsViewer" ng-class="{showDotsViewer: tuneSetPosition.tune == dotsViewerTune, showSessionModus: sessionModus}" style="background-color:{{tuneSetPosition.tune.color}}">
								<a class='btn btn-mini btn-info' ng-click="tuneUp(tuneSetPosition)" ><i class='icon-arrow-up'></i></a>
								<a class='btn btn-mini btn-info' ng-click="tuneDown(tuneSetPosition)" ><i class='icon-arrow-down'></i></a>
								<div id="renderTheDotsFor{{tuneSetPosition.tune.id}}"></div>
							</div>
							
							<div id="sampleDotsViewerFor{{tuneSetPosition.tune.id}}" class="sampleDotsViewer" ng-class="{showSessionModus: sessionModus}"  ng-show="editedTune == null && infoEditedTuneSetPosition == null && movedTuneSetPosition == null && dotsViewerTune == null  && youTubeTune == null"></div>
							
							<div id="showYouTubeVideoFor{{tuneSetPosition.tune.id}}" class="showTheVideo" style="background-color:{{tuneSetPosition.tune.color}}">
								<iframe ng-class="{showVideo: tuneSetPosition.tune == youTubeTune}" class="youtube-player" type="text/html" width="640" height="385" src={{youTubeUrl}} frameborder="0"></iframe>
							</div>
						</li>
					</ul>	
				</div> <!-- /tuneSet -->
				<input class="input-file" id="fileInput" type="file" tbk-file-select>
			</div>
			<div class="span8 dotsAndExportArea"></div>
		</div> <!-- /row with tuneSets -->
		<pre id="tuneBookExported" ng-show="showExport">{{exportedTuneBook}}</pre>
		<div class="row-fluid">
			<div class="span8" >
				<iframe class="fbLikeBox" src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2Fe-TuneBook%2F577631982265183&amp;width=292&amp;height=427&amp;show_faces=false&amp;colorscheme=light&amp;stream=false&amp;border_color&amp;header=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:427px;" allowTransparency="true"></iframe>
			</div>
			<div class="span4" >
				
			</div>
		</div>
    </div> <!-- /container -->
	
		
	
	<!-- Bootstrap.js -->
	<script src="assets/js/bootstrap.js"></script> <!--Developer Version-->
	<!--<script src="assets/js/bootstrap_2.2.2.js"></script>--> <!--neue Versionen von Bootstrap: Schrift geändert, Problem mit Untermenü in Nav-Collapse nicht gelöst -->
	
	<!-- Abc-Editor.js -->
	<script src="assets/js/abcjs_editor_1.3-min.js"></script><!--Production Version-->
	<!--Developer Version 
	<script src="assets/js/abcjs/api/abc_tunebook.js"></script>
	<script src="assets/js/abcjs/data/abc_tune.js"></script>
	<script src="assets/js/abcjs/edit/abc_editor.js"></script>
	<script src="assets/js/abcjs/midi/abc_midiwriter.js"></script>
	<script src="assets/js/abcjs/parse/abc_common.js"></script>
	<script src="assets/js/abcjs/parse/abc_parse.js"></script>
	<script src="assets/js/abcjs/parse/abc_parse_directive.js"></script>
	<script src="assets/js/abcjs/parse/abc_parse_header.js"></script>
	<script src="assets/js/abcjs/parse/abc_parse_key_voice.js"></script>
	<script src="assets/js/abcjs/parse/abc_tokenizer.js"></script>
	<script src="assets/js/abcjs/write/abc_glyphs.js"></script>
	<script src="assets/js/abcjs/write/abc_graphelements.js"></script>
	<script src="assets/js/abcjs/write/abc_layout.js"></script>
	<script src="assets/js/abcjs/write/abc_write.js"></script>
	<script src="assets/js/abcjs/write/raphael.js"></script>
	<script src="assets/js/abcjs/write/sprintf.js"></script>
	-->
	
	
	<!-- Moment.js (Datum-Utility) -->
	<script src="assets/js/moment.js"></script>
	
	<!-- eTuneBook.js -->
	<!--Developer Version-->
	<script src="app/js/eTuneBook.js"></script>
	<script src="app/js/controllers/tbkCtrl.js"></script>
	<script src="app/js/services/tbkStorage.js"></script>
	<script src="app/js/directives/tbkTuneFocus.js"></script>
	<script src="app/js/directives/tbkTuneBlur.js"></script>
	<script src="app/js/directives/tbkFileSelect.js"></script>
	<script src="app/js/directives/tbkFileSelectDelegate.js"></script>
	<script src="app/js/directives/tbkColorSelect.js"></script>
	<script src="app/js/directives/tbkShowSampleAbc.js"></script>
	<script src="app/js/filters/tbkFromNow.js"></script>
	<script src="app/js/filters/tbkMax20chars.js"></script>
	<script src="app/js/filters/tbkEliminateThe.js"></script>
	<script src="app/js/filters/tbkStartFrom.js"></script>
	<script src="app/js/filters/tbkNoDefaultDate.js"></script>
	<script src="app/js/filters/tbkAddSkillDescription.js"></script>
	<!--Production Version--> <!--TODO: Concatenate and Minify-->
</body>
</html>