<div class="row">
    <div class="col-md-12 well">
        <h2>Credits</h2>
        <br>
        <p>eTuneBook wouldn't have been possible without the fantastic work of the following guys. Many thanks to:</p>
        <ul>
            <li>Paul Rosen and Gregory Dyke for <a href="http://code.google.com/p/abcjs/" target="_blank">abcjs</a>. Please have a look at Paul's <a href="http://drawthedots.com/" target="_blank">Tune Editor</a> and at his band <a href="http://itsfloorplay.com/" target="_blank">Floorplay</a>.</li>
            <li>Jens Wollschlaeger for his <a href="http://www.8ung.at/abctransposer/" target="_blank">abc transposer</a>.</li>
            <li>Google for <a href="http://angularjs.org/" target="_blank">angular</a>.</li>
            <li>Twitter for <a href="http://twitter.github.com/bootstrap/" target="_blank">bootstrap</a>.</li>
            <li><a href="http://www.thesession.org/" target="_blank">Session.org</a> for their huge foundation of session tunes.</li>
            <li>Lakshan Perera for his <a href="http://laktek.com/2008/10/27/really-simple-color-picker-in-jquery/" target="_blank">Color-Picker</a>.</li>
        </ul>
    </div>
</div>