<div class="row">
        <div class="col-md-12 well">
            <h2>Feedback</h2>
            <br>
            <h3>Author</h3>
            <p>Martin Fleischmann. Box Player and Software Developer.</p>
            <p>Have a look at <a href="http://www.boxplayer.ch/" target="_blank">Martin's BoxPlayer Talks</a> and <a href="http://www.youtube.com/user/pianoboxplayer" target="_blank">Martin's Irish Traditional Music YouTube Channel</a>.</p>
            <p>Or if you're more interested in how eTuneBook is written, have a look at <a href="https://github.com/boxplayer/eTuneBook" target="_blank">Martin's eTuneBook Source Code</a>.</p>
            <h3>Issues, Critics</h3>
            <p>Feedback is much appreciated. Please help eTuneBook to be improved and drop your comments at info@etunebook.ch. Like it or not at <a href="http://www.facebook.com/pages/e-TuneBook/577631982265183" target="_blank">eTuneBook on FB</a>.</p>
            <h3>Contribution</h3>
            <p>At the moment you can load one example TuneBook from the server. Future Versions of eTuneBook might also include other examples. Thus if you think your TuneBook would be worth to be seen by other musicians, go ahead and send it to info@etunebook.ch and we'll discuss about publishing.</p>
        </div>
</div>
		