<a class='btn btn-default' ng-click="editSetFilter()" title="Filter Options">Filter</a>

<div id="SetFilter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="btn btn-default" ng-click="applySetFilter()">Apply Filter</button>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form class="form" role="form">
                    <div class="form-group">
                        <label class="control-label" for="tuneSetTypeForFilterSelector">Type</label>
                        <div>
                            <select class="form-control"  id="tuneSetTypeForFilterSelector" ng-model="tuneSetTypeForFilter" ng-options="tuneSetTypeForFilter.type for tuneSetTypeForFilter in tuneSetTypesForFilter | orderBy:'type'">	</select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="tuneSetKeyForFilterSelector">Key</label>
                        <div>
                            <select class="form-control" id="tuneSetKeyForFilterSelector" ng-model="tuneSetKeyForFilter" ng-options="tuneSetKeyForFilter.key for tuneSetKeyForFilter in tuneSetKeysForFilter | orderBy:'sort'">	</select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="tuneSetColorForFilterSelector">Color</label>
                        <div>
                            <select class="form-control" id="tuneSetColorForFilterSelector" ng-model="tuneSetColorForFilter" ng-options="tuneSetColorForFilter.color for tuneSetColorForFilter in tuneSetColorsForFilter | orderBy:'sort'" ng-style="{'background-color':tuneSetColorForFilter.color}">	</select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="skillTypeSelector">Skill</label>
                        <div>
                            <select class="form-control" id="skillTypeSelector" ng-model="skillType" ng-options="skillType.description for skillType in skillTypes">	</select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="tuneSetTargetForFilterSelector">Target</label>
                        <div>
                            <select class="form-control" id="tuneSetTargetForFilterSelector" ng-model="tuneSetTargetForFilter" ng-options="tuneSetTargetForFilter.target for tuneSetTargetForFilter in tuneSetTargetsForFilter | orderBy:'target'">	</select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="tuneSetEnvForFilterSelector">Environment</label>
                        <div>
                            <select class="form-control" id="tuneSetEnvForFilterSelector" ng-model="tuneSetEnvForFilter" ng-options="tuneSetEnvForFilter.env for tuneSetEnvForFilter in tuneSetEnvsForFilter">	</select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>