<div class="row">
        <div class="col-md-12 well">
            <h2>Getting started</h2>
            <br>
            <p><strong>1. Get familiar with the abc tune format</strong></p>
            <p>eTuneBook uses the abc tune format which is defined at <a href="http://abcnotation.com/wiki/abc:standard:v2.1" target="_blank">abcnotation.com</a>. There are many sources of abc tunes and abc tunebooks out there. At <a href="http://www.thesession.org/" target="_blank">session.org</a> for example you can find thousands of irish session tunes in abc format.</p>
            <br>
            <p><strong>2. Have a look at the eTuneBook Manual</strong></p>
            <p>All eTuneBook functions are explained under Info > Manual.</p>
            <br>
            <p><strong>3. Choose from the Book-Menu</strong></p>
            <ul>
                <li>Book > New:     Begin from scratch</li>
                <li>Book > Import:    Import a Tunebook from your local disc or from your Google Drive</li>
                <li>Book > Irish Tunes - Martin Fleischmann: Load Martin's Tunebook from the server </li>
            </ul>
        </div>
</div>
