<div class="row">
    <br>
    <div class="col-md-12 well">
        <h2>Welcome to eTuneBook</h2>
        <br>
        <p>With eTuneBook you can</p>
        <ul>
            <li>Manage Abc tunes in your browser.</li>
            <li>Build tune sets.</li>
            <li>Label sets with regard to target (e.g. ceili), environment (e.g. band name) or name (e.g. set-dance name).</li>
            <li>Specify repeat time or add a comment to set positions.</li>
            <li>View and print single sets showing the first few bars of each tune.</li>
            <li>Remember when you last played a tune and how good you were.</li>
            <li>Label tunes with a color or add a comment.</li>
            <li>Transpose tunes.</li>
            <li>Print single tunes.</li>
            <li>Play tunes on a MIDI Instrument. (currently disabled. will be re-introduced soon...)</li>
            <li>Store links to other sites holding tune informations.</li>
            <li>Store links to YouTube videos and view them in eTuneBook directly.</li>
            <li>Easily identify those tunes you should rehearse. Just sort by last modification date, last play date, rehearse frequency or skill.</li>
            <li>Search tunes by title, key or type.</li>
            <li>Search sets by tune type, tune key, tune color, tune skill, set target or set environment.</li>
            <li>Import Abc tunes from a File on your hard disk.</li>
            <li>Export Abc tunes to a File on your hard disk.</li>
        </ul>
        <br>
        <p>Please use <a href="http://www.google.com/chrome" target="_blank">Chrome</a> when working with eTuneBook.
            <br>Other Browsers might work, but they are much slower and might not support all features of eTuneBook.</p>
        <br>
        <p>eTuneBook is free of use. If you find it useful, please donate for nature conservation.</p>
    </div>
</div>
