<div class="row">
    <br>
    <div class="col-md-12 well">
        <h2>Welcome to eTuneBook</h2>
        <br>
        <p>With eTuneBook you can</p>
        <ul>
            <li>Manage Abc tunes in your browser.</li>
            <li>Edit tunes by changing Abc text (Tune-Editor).</li>
            <li>Edit single notes by choosing from note-element options (Note-Editor).</li>
            <li>Build tune sets.</li>
            <li>Specify repeat time or add a comment to set positions.</li>
            <li>Build playlists from tune sets.</li>
            <li>Specify playlist parameters like name (e.g. venue of a gig), event (e.g. Ceili) and band.</li>
            <li>Specify when during a playlist a tune set is played (position) and add an alternative tune set name or a comment specific for the playlist position.</li>
            <li>Override Repeat and Annotations of a Tune in a Playlist.</li>
            <li>Specify Part Play Infos for a Tune in a Playlist.</li>
            <li>View single sets showing the first few bars of each tune.</li>
            <li>Remember when you last played a tune and how good you were.</li>
            <li>Label tunes with a color or add a comment.</li>
            <li>Transpose tunes.</li>
            <li>Store links to other sites holding tune informations.</li>
            <li>Store links to YouTube videos and view them in eTuneBook directly.</li>
            <li>Easily identify those tunes you should rehearse. Just sort by last modification date, last play date, rehearse frequency or skill.</li>
            <li>Random choose tunes and sets within given play ranges.</li>
            <li>Search tunes and sets by title.</li>
            <li>Filter tunes and sets by type, key, color, skill, event, band, play date, modification date, frequency.</li>
            <li>Import Abc tunes from a File on your hard disk or from your Google Drive.</li>
            <li>Export Abc tunes to a File on your hard disk or to your Google Drive.</li>
        </ul>
        <br>
        <p>Tested /Recommended combinations of browsers and environments:
        <ul>
            <li>Chrome / Windows7</li>
            <li>Firefox / Windows7</li>
            <li>Chrome / iOS7 (iPhone, iPad)</li>
            <li>Safari / iOS7 (iPhone, iPad)</li>
        </ul>
        <br>
        <p>Import/Export via local hard disk does not work on mobile iOS devices. You have to use Google Drive instead.</p>

        <p>eTuneBook is free of use. If you find it useful, please donate for nature conservation.</p>
    </div>
</div>
