<div class="row">
        <div class="col-md-12 well">
            <h2>Manual</h2>
            <dl>
                <dt><h3>Main Menu</h3></dt>
                <dd>
                    <p><strong>Book</strong> <br>Load a TuneBook, Edit Title and Description, Export the current TuneBook to a File on your Device or to your Google Drive.</p>
                    <p><strong>Sets</strong> <br>Search for Sets.</p>
                    <p><strong>Tunes</strong> <br>Search for Tunes.</p>
                    <p><strong>Info</strong> <br>About eTuneBook.</p>
                </dd>
                <br>
                <dt><h3>Load a TuneBook</h3></dt>
                <dd>
                    <p><strong>Book > Import</strong> <br>Import an Abc Tunebook from your local disc or from your Google Drive.</p>
                    <p><strong>Book > {{exampleFileNameWithoutAbc}}</strong> <br>Load an example Tunebook from the server. Martin's Tunebook contains Irish Tunes with Fingering for Piano Accordion. For more information please visit <a href="http://www.boxplayer.ch/" target="_blank">Martin's BoxPlayer Talks</a> and <a href="http://www.youtube.com/user/pianoboxplayer" target="_blank">Martin's Irish Traditional Music YouTube Channel</a> </p>
                </dd>
                <br>
                <dt><h3>Choose a Tune</h3></dt>
                <dd>
                    <p>Click on <strong>Tunes</strong> in the main Menue and then choose a tune from the list.</p>
                    <p>Alternatively click on <strong>Sets</strong> in the main Menue, choose a set from the list, and then choose a tune from the set (by clicking the tune title).</p>
                    <p>In both cases the <strong>Tune Editor</strong> opens.</p>
                </dd>
                <br>
                <dt><h3>Choose a Set</h3></dt>
                <dd>
                    <p>Click on <strong>Sets</strong> in the main Menue and then choose a set from the list.</p>
                    <p>Alternatively click on <strong>Tunes</strong>, choose a tune from the list, then choose a Set from the <strong>Sets</strong> of the tune.</p>
                    <p>In both cases the <strong>Set Editor</strong> opens.</p>
                </dd>
                <br>
                <dt><h3>Add Abc tunes</h3></dt>
                <dd>
                    <p>Copy an Abc-tune to the clipboard , e.g. from <a href="http://www.thesession.org/" target="_blank">session.org</a>. Don't copy the first line which starts with 'X:'. eTuneBook generates the X-line automatically.</p>
                    <p><strong>Book > New</strong> <br>Generate a new Tunebook with one new tune.</p>
                    <p><strong>Tunes > New</strong> <br>Add a new tune.</p>
                    <p>In both cases the Abc-Editor for the new Tune opens. Paste the Abc-tune from the clipboard to the Abc-Editor. The dots are shown simultanously on the left side. </p>
                    <p>Your edits are saved as soon as you leave the Abc-Editor (by clicking somewhere else).</p>
                </dd>
                <br>
                <dt><h3>Export Abc tunes</h3></dt>
                <dd>
                    <p><strong>Book > Export</strong> <br>Displays the TuneBook in Abc-format.</p>
                    <p>The system automatically writes the TuneBook to a file on your device. The TuneBook is named 'MyTuneBook.txt' and gets placed in the Download Folder of your Browser. Rename the TuneBook and give it the file-extension .abc (otherwise you won't be able to re-import it to eTuneBook).</p>
                    <p>By clicking <strong>save</strong> you can repeat the backup.</p>
                    <p>Choose which of the eTuneBook-specific fields should be exported by toggling the corresponding <strong>export selectors</strong>.</p>
                    <p>Attention: If you choose to export only standard Abc eTuneBook-specific fields will be lost after Re-Import.</p>
                </dd>
                <br>
                <dt><h3>Edit or delete Abc tunes</h3></dt>
                <dd>
                    <p><strong>Choose a tune</strong> and then click <strong>Abc</strong>. Edit the tune whithin the Abc-Editor.</p>
                    <p>Your edits are saved as soon as you leave the Abc-Editor (by clicking somewhere else).</p>
                    <p>In case you want to get rid of the tune, just delete the whole Abc-Code of the tune.</p>
                    <p>In case you want to sort your tunes by modification date, you might consider to include a line starting with 'H:' and also contains 'Modified' followed by the modification date in form of 'yyyy-mm-dd'. Check Martin's Tunebook for examples.</p>
                </dd>
                <br>
                <dt><h3>Build Tune Sets</h3></dt>
                <dd>
                    <p>In eTuneBook every tune belongs to one or more set. If you load an Abc-TuneBook that was generated by another program or by hand, eTuneBook puts every tune in a separate set. Also new tunes are first put into a new set. </p>
                    <p>In order to build a new set yourself, <strong>choose a tune</strong>, click on <strong>Sets</strong> and then <strong>New</strong>.</p>
                    <p>In order to move or copy a tune from one set to another, <strong>choose a set</strong> and then choose <strong>Move</strong> from the Menu on the right side of the Tune title.</p>
                    <p>On the Move-Panel choose where to move: before or after another tune. Choose whether the Tune should be moved or copied.</p>
                    <p>After pressing 'Send' on the Move-Panel eTuneBook puts the tune at the chosen position in the target set and closes the Move-Panel.</p>
                    <p>In case your choice was 'move', eTuneBook removes the tune from the original set.</p>
                    <p>In case your choice was 'copy', eTuneBook does not remove the tune from the original set.</p>
                    <p>In order to delete a tune from a set, <strong>choose a set</strong> and then choose <strong>Delete</strong> from the Menu on the right side of the Tune title.</p>
                    <p>If after Deleting from the set the tune gets set-less (no other sets), the system automatically generates a new set around the tune.</p>
                    <p>In case the original set gets empty after moving or deleting a tune, the empty set will be automatically removed.</p>
                </dd>
                <br>
                <dt><h3>Edit TuneSet Info</h3></dt>
                <dd>
                    <p><strong>Choose a set</strong> and then click on <strong>TuneSet Nr</strong>.</p>
                    <p>You might add the following informations to your TuneSet:</p>
                    <ul>
                        <li><strong>Target </strong> (Goal) of the TuneSet: Session or Ceili or Set-Dance or Concert or ....</li>
                        <li><strong>Environment</strong> in which the TuneSet is played: Name of the Band or Name of the Pub or ....</li>
                        <li><strong>Name</strong> of the TuneSet: Name of the first tune or Name of the Set-Dance-Set or ....</li>
                    </ul>
                </dd>
                <br>
                <dt><h3>Edit TuneSet-Position Info</h3></dt>
                <dd>
                    <p><strong>Choose a set</strong> and then choose <strong>Edit</strong> from the Menu on the right side of the Tune title.</p>
                    <p>You might add the following informations to the chosen TuneSet-Position:</p>
                    <ul>
                        <li><strong>Repeat</strong>: How many times the tune should be played (default is 3x).</li>
                        <li><strong>Comment</strong>: Additional informations about how to play the tune.</li>
                    </ul>
                </dd>
                <br>
                <dt><h3>Mark a Tune as 'Just Played'</h3></dt>
                <dd>
                    <p><strong>Choose a tune</strong> and click <strong>Played</strong> in the Tune Editor. This adds the current date and time to the tune.</p>
                    <p>Alternatively you might <strong>choose a set</strong> and click <strong>Played</strong> on a TuneSet-Position in the Set-Editor. This adds the current date and time to the tune.</p>
                    <p>In case you just played the whole set, click <strong>Just Played</strong> in the Set Editor. This adds the current date and time to all of the tunes in the set.</p>
                    <p>eTuneBook calculates a playing frequency from all playing dates: Each play date gets points. For example: 1000 days ago: 0 Points, 999 days ago: 1 Point, 100 days ago: 900 points, 1 day ago: 999 Points. The playing frequency of the tune is the sum of the frequency scores of all playing dates.</p>
                </dd>
                <br>
                <dt><h3>Colorize a Tune</h3></dt>
                <dd>
                    <p><strong>Choose a tune</strong> and click on the square on the right-side of <strong>color</strong> in the Tune Editor.</p>
                    <p>Once chosen a color it gets added to the tune.</p>
                </dd>
                <br>
                <dt><h3>Transpose a Tune</h3></dt>
                <dd>
                    <p><strong>Choose a tune</strong> and click on the arrows on the right-side of <strong>transpose</strong> in the Tune Editor.</p>
                    <p>Transposition changes the Abc-Code of the tune. Changes are effective in the dots, and in case the Abc-Editor is open, in the Abc-Code.</p>
                </dd>
                <br>
                <dt><h3>Play Tunes on a MIDI Instrument</h3></dt>
                <dd>
                    <p>MIDI Support will be re-introduced with the next Release of eTuneBook. Stay tuned.</p>
                </dd>
                <br>
                <dt><h3>Edit Tune Info</h3></dt>
                <dd>
                    <p><strong>Choose a tune</strong> and click <strong>Info</strong> in the Tune Editor.</p>
                    <p>You might add the following informations to the chosen Tune:</p>
                    <ul>
                        <li><strong>Tune Sites</strong>: External web sites holding informations about the tune.</li>
                        <li><strong>Comment</strong>: Your own comments about the tune.</li>
                    </ul>

                    <p>Managing <strong>Tune Sites</strong>:</p>
                    <ul>
                        <li>Click <strong>New</strong> to add a new Tune Site.</li>
                        <li>Click into the URL field in order to <strong>Edit</strong> the Tune Site.</li>
                        <li>Click on <strong>Delete</strong> in order to delete the Tune Site.</li>
                        <li>Click on <strong>Play</strong> in order to open the Tune Site in another window.</li>
                    </ul>
                </dd>
                <br>
                <dt><h3>Edit Tune Videos</h3></dt>
                <p><strong>Choose a tune</strong> and click <strong>Videos</strong> in the Tune Editor.</p>
                <ul>
                    <li>Click <strong>New</strong> to add a new Tune Video.</li>
                    <li>Click into Code or Description in order to <strong>Edit</strong> the Tune Video.</li>
                    <li>Click on <strong>Delete</strong> in order to delete the Tune Video.</li>
                    <li>Clicking on a Tune Video Record opens the video below the video list.</li>
                </ul>
                <p>eTuneBook currently supports YouTube Videos. The Code field holds only the video-specific part of the video-url, not the whole adress. Check Martin's Tunebook for examples.</p>

                <br>
                <dt><h3>Printing</h3></dt>
                <dd>
                    <p>Use the your Browser's printing functionality (ctrl p) in order to print the page your viewing.</p>
                </dd>
                <br>
                <dt><h3>Search Tunes</h3></dt>
                <dd>
                    <p>Tunes can be filtered, sorted and grouped by:</p>
                    <ul>
                        <li><p><strong>Tune Title</strong></p></li>
                        <li><p><strong>Tune Type</strong></p></li>
                        <li><p><strong>Tune Key</strong></p></li>
                        <li><p><strong>Tune Last Played</strong></p></li>
                        <li><p><strong>Tune Playing Frequency</strong></p></li>
                        <li><p><strong>Tune Skill</strong></p></li>
                        <li><p><strong>Tune Last Modified</strong></p></li>
                    </ul>
                    <p>Click on the <strong>column header</strong> in order to <strong>sort</strong> the column.</p>
                    <p>Click on the <strong>blue arrow</strong> and:</p>
                    <ul>
                        <li><p>Enter a text for <strong>searching</strong> the tune list. The search text applies to all columns.</p></li>
                        <li><p>Check or uncheck a column in order to <strong>show/hide</strong> the column.</li>
                        <li><p>Click on the grouping symbol in order to <strong>group</strong> the tune list by the chosen column. </li>
                    </ul>
                </dd>
                <br>
                <dt><h3>Search Tune Sets</h3></dt>
                <dd>
                    <p>Tune Sets can be filtered by:</p>
                    <ul>
                        <li><p><strong>Tune Type</strong></p></li>
                        <li><p><strong>Tune Key</strong></p></li>
                        <li><p><strong>Tune Color</strong></p></li>
                        <li><p><strong>Tune Skill</strong></p></li>
                        <li><p><strong>Tune Set Target</strong></p></li>
                        <li><p><strong>Tune Set Environment</strong></p></li>
                    </ul>
                    <p>Click on the <strong>filter icon</strong> in order to apply the Filters.</p>
                </dd>
                <br>

            </dl>
        </div>
</div>
