<div id="dotsViewer" class="dotsViewer row" ng-style="{'background-color':tune.color}">
    <!--<div class="container">-->
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">

            <div class="tuneControlButtons">

                <div class="played pull-left">
                    <a class='btn btn-xs btn-default justPlayedTheTune' ng-click="justPlayedTheTune(tune)" title="Just Played The Tune">Played </a>{{tune.lastPlayed | fromNow}}
                </div>

                <div class="tuneColorizer">
                    Color: <input type="text" name="{{tune.color}}" value="{{tune.color}}"  title="Colorize" tbk-colorselect/>
                </div>

                <div class="transposeButtons pull-right">
                    Transpose:
                    <a class='btn btn-xs btn-default' ng-click="tuneUp()" title="Tune Up" ><i class='glyphicon glyphicon-arrow-up'></i></a>
                    <a class='btn btn-xs btn-default' ng-click="tuneDown()" title="Tune Down" ><i class='glyphicon glyphicon-arrow-down'></i></a>
                </div>

            </div>

            <div id="renderTheDotsFor{{tune.intTuneId}}" class="renderTheDots"></div>
        </div>
        <!--<div id="renderMidi" class="midiPlayer"></div>-->
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <ul class="nav nav-tabs">
                <li ng-class="tabClass(tab)" ng-repeat="tab in tabs" tab="tab"><a href="{{tab.link}}" ng-click="setSelectedTab(tab)">{{tab.label}}</a></li>
            </ul>

            <!--<div ui-view ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}" class="tuneTabContent"></div>-->
            <div ui-view class="tuneTabContent"></div>
        </div>
    <!--</div>-->
</div>


