<!--
<form class="form-inline">
<label>Code</label>input type="text" class="input-small" ng-model="tuneVideoCode" />
<label>Description</label><input class="input-large" type="text" ng-model="tuneVideoDescription"/>
</form>

<button class="btn btn-mini btn-info" ng-click="load()">Load</button><button class="btn btn-mini btn-info" ng-click="save()">Save</button><button class="btn btn-mini btn-info" ng-click="delete()">Delete</button>

        -->
<iframe  class="youtube-player" type="text/html" src="{{videoUrl}}" frameborder="0"></iframe>
