<div class="btn-group dotsViewerBtn">
    <button type="button" class="btn btn-default dropdown-toggle  active" data-toggle="dropdown" ng-style="{'background-color':tune.color}">
        {{ abcEditor }} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" ng-style="{'background-color':tune.color}">
        <li ><a href="" ng-click="setTuneEditModus()">Tune Editor</a></li>
        <li ><a href="" ng-click="setNoteElementEditModus()">Note Editor</a></li>
    </ul>
</div>


<div id="dotsViewer" class="dotsViewer row" ng-style="{'background-color':tune.color}">
    <form ng-show="tuneEditModus" >
        <textarea class="tuneAbcEditor" id=abcEditorFor{{tune.intTuneId}} class="input-xlarge edit"  ng-model="tune.pure" tbk-tune-blur="doneEditing(tune)"  tbk-abc-element-select tbk-abc-element-change ng-readonly="noteEditModus"></textarea>
    </form>

    <form class="form-inline" role="form" ng-show="noteEditModus">

        <div class="form-group col-md-2">
            <label class="control-label" for="chordSelector">Chord</label>
            <select class="form-control" id="chordSelector" ng-model="chordOption" ng-options="chordOption.abc for chordOption in chordOptions | orderBy:'abc'" ng-change="changeChord(chordOption)">	</select>
        </div>

        <div class="form-group col-md-2">
            <label class="control-label" for="fingerSelector">Finger</label>
            <select class="form-control" id="fingerSelector" ng-model="fingerOption" ng-options="fingerOption.abc for fingerOption in fingerOptions | orderBy:'abc'" ng-change="changeFinger(fingerOption)">	</select>
        </div>

        <!--
        <div class="form-group">
            <label class="control-label" for="graceNoteSelector">GraceNote</label>
            <select class="form-control" id="graceNoteSelector" ng-model="graceNoteOption" ng-options="graceNoteOption.abc for graceNoteOption in graceNoteOptions | orderBy:'-frequency'" ng-change="changeGraceNote(graceNoteOption)">	</select>
        </div>
        -->

        <div class="form-group col-md-2">
            <label class="control-label" for="accidentalSelector">Accidental</label>
            <select class="form-control" id="accidentalSelector" ng-model="accidentalOption" ng-options="accidentalOption.abc for accidentalOption in accidentalOptions | orderBy:'abc'" ng-change="changeAccidental(accidentalOption)">	</select>
        </div>

        <div class="form-group col-md-2">
            <label class="control-label" for="noteSelector">Note</label>
            <select class="form-control" id="noteSelector" ng-model="noteOption" ng-options="noteOption.abc for noteOption in noteOptions | orderBy:'-frequency'" ng-change="changeNote(noteOption)">	</select>
        </div>

        <div class="form-group col-md-2">
            <label class="control-label" for="octaveSelector">Octave</label>
            <select class="form-control" id="octaveSelector" ng-model="octaveOption" ng-options="octaveOption.abc for octaveOption in octaveOptions | orderBy:'abc'" ng-change="changeOctave(octaveOption)">	</select>
        </div>

        <div class="form-group col-md-2">
            <label class="control-label" for="noteLengthSelector">Length</label>
            <select class="form-control" id="noteLengthSelector" ng-model="noteLengthOption" ng-options="noteLengthOption.abc for noteLengthOption in noteLengthOptions | orderBy:'abc'" ng-change="changeNoteLength(noteLengthOption)">	</select>
        </div>
    </form>
</div>





