
<div class="btn-group btn-default hidden-print">
    <button type="button" class="btn btn-default" ng-click="loadRandomTune(playDateFilter)">
        Random: {{playDateFilter}}
    </button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li ng-click="loadRandomTune('All Tunes')" ><a href="" >All Tunes</a></li>
        <li ng-click="loadRandomTune('Played Last Day')"><a href="" >Played Last Day</a></li>
        <li ng-click="loadRandomTune('Played Last Week')"><a href="" >Played Last Week</a></li>
        <li ng-click="loadRandomTune('Played Last Month')"><a href="" >Played Last Month</a></li>
        <li ng-click="loadRandomTune('Played Last Year')"><a href="" >Played Last Year</a></li>
        <li ng-click="loadRandomTune('Played Never')"><a href="" >Played Never</a></li>
    </ul>
</div>

<br>

<div class="btn-group dotsViewerBtn">
    <button type="button" class="btn btn-default dropdown-toggle  active" data-toggle="dropdown" ng-style="{'background-color':tune.color}">
        <strong> {{ tune.title | eliminateThe }}</strong> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" ng-style="{'background-color':tune.color}">
        <li ng-repeat="tune in tunes | orderBy:'title'"><a href="#tunes/{{tune.intTuneId}}" >{{ tune.title | eliminateThe }}</a></li>
    </ul>

</div>

<div class="btn-group dotsViewerBtn">
    <button type="button" class="btn btn-default dropdown-toggle  active" data-toggle="dropdown" ng-style="{'background-color':tune.color}">
        {{ currentState }} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" ng-style="{'background-color':tune.color}">
        <li ><a href="#tunes/{{intTuneId}}" >Dots</a></li>
        <li ><a href="" ng-click="showTuneSets()">Sets</a></li>
        <li ><a href="#tunes/{{intTuneId}}/videos" >Videos</a></li>
        <li ><a href="#tunes/{{intTuneId}}/abc" >Abc</a></li>
        <li ><a href="#tunes/{{intTuneId}}/practice" >Practice</a></li>
        <li ><a href="#tunes/{{intTuneId}}/info" >Info</a></li>
    </ul>
</div>





<!--
<div class="btn-group dotsViewerBtn">
    <button type="button" class="btn btn-default dropdown-toggle  active" data-toggle="dropdown" ng-style="{'background-color':tune.color}">
        {{ tune.title | eliminateThe }} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" ng-style="{'background-color':tune.color}">
        <li ><a href="#tunes/{{intTuneId}}/sets" >Sets</a></li>
        <li ><a href="#tunes/{{intTuneId}}/videos" >Videos</a></li>
        <li ><a href="#tunes/{{intTuneId}}/abc" >Abc</a></li>
        <li ><a href="#tunes/{{intTuneId}}/practice" >Practice</a></li>
        <li ><a href="#tunes/{{intTuneId}}/info" >Info</a></li>
    </ul>
</div>
-->

<div ui-view></div>

<div id="dotsViewer" class="dotsViewer row" ng-style="{'background-color':tune.color}">
    <div class="tuneControlButtons">

        <div class="played pull-left">
            <a class='btn btn-xs btn-default justPlayedTheTune' ng-click="justPlayedTheTune(tune)" title="Just Played The Tune">Played </a>{{tune.lastPlayed | fromNow}}
        </div>

        <div class="tuneColorizer">
            Color: <input type="text" name="{{tune.color}}" value="{{tune.color}}"  title="Colorize" tbk-colorselect/>
        </div>

        <div class="transposeButtons pull-right">
            Transpose:
            <a class='btn btn-xs btn-default' ng-click="tuneUp()" title="Tune Up" ><i class='glyphicon glyphicon-arrow-up'></i></a>
            <a class='btn btn-xs btn-default' ng-click="tuneDown()" title="Tune Down" ><i class='glyphicon glyphicon-arrow-down'></i></a>
        </div>

    </div>

    <div id="renderTheDotsFor{{tune.intTuneId}}" class="renderTheDots"></div>
</div>


